<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KanbanBoard.WebMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KanbanBoard.WebMvc.styles.css" asp-append-version="true" />
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <div class="left">
        <div class="item mb-5">
            <span class="glyphicon glyphicon-align-justify" style="margin-left:17px;"></span>
        </div>


        @if (User.Identity!.IsAuthenticated)
        {
            <div class="item">
                <span class="glyphicon glyphicon-briefcase"></span>
                <a asp-action="Index" asp-controller="Board" class="text-white" style="text-decoration-line:none;">Projects</a>
            </div>
            <hr />
            <div class="item">
                <span class="glyphicon glyphicon-user"></span>
                <a asp-action="Profile" asp-controller="Account" class="text-white" style="text-decoration-line:none;">Profile</a>
            </div>
            <div class="item">
                <span class="glyphicon glyphicon-log-out"></span>
                <a asp-action="Logout" asp-controller="Account" class="text-white" style="text-decoration-line:none;">Sign Out</a>
            </div>
        }
        else
        {
            <div class="item">
                <span class="glyphicon glyphicon-log-in"></span>
                <a asp-action="Login" asp-controller="Account" class="text-white" style="text-decoration-line:none;">Sign In</a>
            </div>
        }
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="right">
            @(await Component.InvokeAsync("GetIssueStatistics"))
        </div>
    }



    <div class="container-fluid">
        <main role="main">
            @RenderBody()

        </main>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/SignalRConnection.js" asp-append-version="true"></script>
    <script>

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
    </script>
    @await Component.InvokeAsync("Notyf");
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
