@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="display-6">Projects</div>
</div>

<hr />

<div class="row mt-5 d-flex justify-content-between" id="boards">

</div>

@section Scripts{

    <script>
        $(document).ready(() => {

            $.ajax({
                url: "/Home/Boards",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    let strData = JSON.stringify(data);
                    console.log(strData);
                    let html = "";
                    $.each(data, (index, value) => {
                        html += `<a  href="#" style="text-decoration-line:none;">
                                        <div class="col-4 text-center text-white">
                                            <div class="card bg-primary opacity-50">
                                                 <div class="card-body">
                                                     <div>${value.title}</div>
                                                  </div>
                                                 </div>
                                           </div>
                                     </a>`
                    });
                    $('#boards').html(html);
                }

            });

        });
    </script>

}

<!--

asp-controller="Board" asp-action="Index" asp-route-id="${value.id}"
-->
