@model List<KanbanBoard.Application.Dtos.BoardDtos.GetBoardDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="display-6">Projects</div>
</div>

<hr />

<div class="row mt-3 d-flex justify-content-between">
    @foreach (var board in Model)
	{
        <a  asp-controller="Board" asp-action="Index" asp-route-id="@board.Id" style="text-decoration-line:none;">
            <div class="col-4 text-center text-white">
                <div class="card bg-primary opacity-50">
                    <div class="card-body">
                        <div>@board.Title</div>
                    </div>
                </div>
            </div>
        </a>
	}
    
</div>
