@model KanbanBoard.Application.Dtos.IssueDtos.GetIssueDto


<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">

<div id="dialog" title="Issue Detail">
    <form method="post">
        <div class="row d-flex mx-1 justify-content-between mt-3">
            <div class="col card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Summary</label>
                        <input type="text" asp-for="Summary" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Description</label>
                        <textarea class="form-control form-control-sm" asp-for="Description" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <div class="form-group">
                        @if (Model.Priority == KanbanBoard.Core.Enums.PriorityType.Lowest || Model.Priority == KanbanBoard.Core.Enums.PriorityType.Low)
                        {

                            <label class="form-label"><i class="fa-solid fa-sm fa-arrow-up text-success"></i> Priority</label>
                        }
                        else if (Model.Priority == KanbanBoard.Core.Enums.PriorityType.Highest || Model.Priority == KanbanBoard.Core.Enums.PriorityType.High)
                        {
                            <label class="form-label"><i class="fa-solid fa-sm fa-arrow-up text-danger"></i> Priority</label>
                        }
                        else
                        {
                            <label class="form-label"><i class="fa-solid fa-sm fa-arrow-up text-warning"></i> Priority</label>
                        }
                        <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<KanbanBoard.Core.Enums.PriorityType>()" class="form-select form-select-sm">
                        </select>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @if (Model.IssueType == KanbanBoard.Core.Enums.IssueType.Bug)
                        {

                            <label class="form-label"><i class="fa-solid fa-sm fa-bug text-danger mx-1"></i> Issue Type</label>
                        }
                        else if (Model.IssueType == KanbanBoard.Core.Enums.IssueType.Story)
                        {
                            <label class="form-label"><i class="fa-solid fa-sm fa-bookmark text-success mx-1"></i> Issue Type</label>
                        }
                        else
                        {
                            <label class="form-label"><i class="fa-solid fa-sm fa-list-check text-primary mx-1"></i> Issue Type</label>
                        }
                        <select asp-for="IssueType" asp-items="@Html.GetEnumSelectList<KanbanBoard.Core.Enums.IssueType>()" class="form-select form-select-sm"></select>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Assigned User</label>
                        <select class="form-select form-select-sm">
                            <option value="value">John Doe</option>
                            <option value="value">Deneme</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex mx-1 justify-content-between mt-3">
            <div class="col card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Comments</label>
                        <textarea class="form-control form-control-sm" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>

</div>




@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

    <script>

        $(function () {
            $("#dialog").dialog({
                height: 600,
                width: 900,
                modal: true,
                resizable: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                buttons: [
                    {
                        text: "Save",
                        class: "btn btn-success",
                        click: updateIssue
                    },
                    {
                        text: "Close",
                        class: "btn btn-warning",
                        click: function () {
                            $(this).dialog("close");

                        }
                    }
                ]

            });

            //let form = dialog.find("form").on("submit", function (event) {
            //    event.preventDefault();
            //    updateIssue();
            //});
        });

        function updateIssue() {
            $ajax({
                url: "/Issue/Update",
                type: "POST",
                dataType: "json"


            });
        }

    </script>
}