@model KanbanBoard.Application.Dtos.IssueDtos.GetIssueStatisticsDto

<style>
    td, th {
        vertical-align: middle !important;
    }

    .left, .right {
        float: left;
        height: 100vh;
    }

    .left {
        background: #337ab7;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width 1s;
    }

    .right {
        background: #fff;
        width: 270px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
    }

    .left:hover {
        width: 250px;
    }

    .item:hover {
        background-color: #ccc;
    }

    .left .glyphicon {
        margin: 15px;
        width: 20px;
        color: #fff;
    }

    .right .glyphicon {
        color: #a9a9a9;
    }

    span.glyphicon.glyphicon-refresh {
        font-size: 17px;
        vertical-align: middle !important;
    }

    .item {
        height: 50px;
        overflow: hidden;
        color: #fff;
    }

    .title {
        background-color: #eee;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        box-sizing: border-box;
    }

    .search:hover {
        border-color: #4aa9fb;
        border-width: 1px;
    }

    .search {
        padding: 3px 8px 3px !important;
    }

    input[type=search] {
        padding: 10px 0px 10px;
        border: 0px solid #fff;
        background: #eee;
        -webkit-appearance: none;
        width: 90%;
        float: none;
    }

        input[type=search]:focus {
            outline: none;
        }

    .type {
        height: 47px;
    }

    .date {
        background-color: #f7f7f7
    }

    .docdate {
        vertical-align: bottom !important;
    }

    .distr {
        margin: 0 0 5px;
        font-size: 12px;
    }

    .ndoc {
        margin: 0 0 5px;
    }

    .storage {
        margin: 0;
        color: #aaa !important;
        font-size: 12px;
    }


</style>



<table class="table">
    <tr>
        <td class="title search col-md-9">
            <div class="inner-addon right-addon">
                <input class="col-md-12" type="search" placeholder=" search...">
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </td>
        <th valign="middle" colspan="2" class="title text-center">
            <span class="glyphicon glyphicon-refresh"></span>
        </th>
    </tr>
    <tr>
        <td colspan="2" class="type text-capitalize">STATISTICS</td>
    </tr>
    <tr>
        <td class="docs">
            <p class="ndoc">Story <i class="fa-solid fa-sm fa-bookmark text-success mx-1"></i></p>
            <p class="distr">@Model.StoryCount</p>
            @*<p class="storage">Completed:10 </p>*@
        </td>
        <td class="docdate"></td>
    </tr>
    <tr>
        <td class="docs">
            <p class="ndoc">Task <i class="fa-solid fa-sm fa-list-check text-primary mx-1"></i></p>
            <p class="distr">@Model.TaskCount</p>
            @*<p class="storage">Completed:8</p>*@
        </td>
        <td class="docdate"></td>
    </tr>
    <tr>
        <td class="docs">
            <p class="ndoc">Bug <i class="fa-solid fa-sm fa-bug text-danger mx-1"></i></p>
            <p class="distr">@Model.BugCount</p>
            @*<p class="storage">Completed:10</p>*@
        </td>
        <td class="docdate"></td>
    </tr>
</table>

